# =====================================
#   Entornos virtuales
# =====================================
venv/
env/
.env/
.venv/
.Env/
ENV/

# =====================================
#   Archivos de Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
#   Entornos y configuraciones
# =====================================
*.env
*.ini
*.cfg
*.toml

# =====================================
#   Carpetas y logs
# =====================================
*.log
logs/

# =====================================
#   Compilación y dependencias
# =====================================
build/
dist/
*.egg-info/
.eggs/

# =====================================
#   Cache
# =====================================
.cache/
.ipynb_checkpoints/

# =====================================
#   IDE / Editor
# =====================================
# VSCode
.vscode/

# PyCharm
.idea/

# =====================================
#   Otros
# =====================================
.DS_Store
